.container {
  display: flex;
}

.side {
  flex: 1;
  padding: 0  20px;
}

.main {
  flex: 4;
}

@media (max-width: 600px) {
  .container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}