.profile {
  display: flex;
  flex-direction: column;
}

.user {
  border-radius: 50%;
}

.profile-container {
  padding: 10px 10px 10px 0;
}

.fullname {
  font-size: 26px;
  line-height: 1.25;
}

.username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.description {
  margin: 10px 0;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  color: #24292e;
  background-color: #fafbfc;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
}

.report-btn {
  background: transparent;
  border: none;
  color: #586069;
  padding: 0;
  font-size: 28px;
  margin-left: 16px;
}

.follower-following {
  height: 20px;
  font-size: 14px;
  color: #586069;
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.label {
  color: #24292e;
  font-weight: 600;
  margin: 0 4px;
}

.middle {
  vertical-align: middle;
}

.middle:before {
  content: "\B7";
}

.other-details {
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 25px;
}

.list-item-text {
  margin: 0 6px;
}